{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
  <div class="auth-container">
    <div class="auth-card">
      <div class="logo">
        💼 <span>EXPENSE</span>
      </div>
      {% if messages %}
      {% for message in messages %}
        <h2 style="color: #b22222;">{{message}}</h2>
      {% endfor %}
    {% endif %}
      <h2>Log in</h2>

      <form class="login-form" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />

        <button type="submit" class="btn">Log in</button>
      </form>

      <div class="links">
        <a href="#">Forgot password?</a>
        <p>Don't have an account? <a href="{% url 'user-register' %}">Register</a></p>
      </div>
    </div>
  </div>
</body>
</html>
